// Place all the styles related to the Restaraunts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restaurant {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
    p {
      display: block;
      padding: 10px;
    }
}

.all-restaurants {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
    p {
      display: none;
    }
  }

.restaurant-show {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  justify-content: center;
}

.restaurant-name {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
