// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form {
  width: 20%;
  .field {
    line-height: 30px;
    display: grid;
  }
}
