<div class="footer">
  <small>
    <p><strong>Seat Yourself (Open Table Clone Assignment)</strong></p>
  </small>
    <ul>
      <li>About</li>
      <li>Contact</li>
      <li>Privacy Policy</li>
    </ul>
</div>
